{% extends "main/sitemap.html" %}
{% block title %}
Project Exrave
{% endblock %}
{% block content %}
<main class="container-fluid" id="bg">
    <div id="test" style="margin-top: 30px;">
      <br><br>
        <h3>
            level=hyper
        </h3>
        <p>
          The Infinite Evolution
        </p>
          <br><br>
        <hr>
        <div style="display: inline-block; width:100%">
          <div style="float: left; display: inline-block; margin-left: 10px;">
            <h4>
              <b>
                EXRave
              </b>
            </h4>
            <h1>
              The New-type Rhythm Game
            </h1>
            <br>
            <a href="https://play.google.com/store/apps/details?id=com.nayechan.qcht&hl=en_US" target="_blank">
              <button type="submit" class="btn btn-primary mb-2">
                Play Now!
              </button>
            </a>
          </div>
        </div>
        <hr>
    </div>
</main>
{% endblock %}
